* {
  margin: 0;
  padding: 0;
}

#wrapper {
  width: 600px;
  margin: 0 auto;
}

.lazy_img {
  width: 280px;
  height: 280px;
  box-sizing: border-box;
  border: 0;
  margin: 5px;
  background: #eee;
}