html,
body,
div,
span,
input,
textarea,
button,
label {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: #1890ff;
  color: #fff;
}

/* 最外层容器 */
.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  font-size: 30px;
  overflow-y: auto;
}

/* fork me on github */
.fork_me_on_github {
  position: absolute;
  top: 0;
  right: 0;
}

#my_github {
  color: #fff;
  fill: #3291eb;
  height: 80px;
  width: 80px;
  cursor: pointer;
}

#my_github:hover #octocat_tail {
  animation: tail_shake .5s ease;
}

@keyframes tail_shake {
  0% {
    transform: rotateZ(0);
  }
  20% {
    transform: rotateZ(-30deg);
  }
  40% {
    transform: rotateZ(0);
  }
  60% {
    transform: rotateZ(-35deg);
  }
  100% {
    transform: rotateZ(0);
  }
}

/* 内容 */
.main {
  width: 90%;
  min-height: calc(100vh - 50px);
  margin: 0 auto;
  box-sizing: border-box;
}

@media (max-width: 576px) {
  .main {
    padding: 30px 0 0 0;
  }
}

.title_after::before {
  content: '🔎';
}

.main_title {
  margin: 0 auto;
  padding: 60px 0 30px 0;
  font-size: 30px;
  text-align: center;
}

.main_textarea {
  width: 100%;
  overflow: hidden;
}

.main_textarea_wrapper {
  float: left;
  width: 46%;
}

.main_textarea_wrapper:first-child {
  margin: 0 8% 0 0;
}

@media (max-width: 768px) {
  .main_textarea_wrapper {
    width: 100%;
    margin: 15px 0 0 0;
  }
}

.button_wrapper {
  padding: 15px 0;
  text-align: right;
}

/* 底部栏 */
.bottom {
  height: 50px;
  line-height: 46px;
  text-align: center;
  font-size: 20px;
}

.bottom::before {
  content: "";
  display: block;
  height: 1px;
  background: #e9e9e9;
  transform: rotateX(45deg);
}

.bottom_heart {
  display: inline-block;
  width: 30px;
  font-size: 16px;
  -webkit-animation: heart_beat infinite 0.6s linear;
  animation: heart_beat infinite 0.6s linear;
}

@keyframes heart_beat {
  20% {
    font-size: 19px;
  }
}

/* 文本域 */
.myAntd_input_textarea {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  min-height: 32px;
  line-height: 1.4;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px 11px;
  background: #fff;
  color: rgba(0, 0, 0, 0.65);
  font-size: 16px;
  -webkit-transition: all 0.3s linear, height 0s;
  transition: all 0.3s linear, height 0s;
}
.myAntd_input_textarea:focus {
  border-color: #40a9ff;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}
.myAntd_input_textarea:hover {
  border-color: #40a9ff;
}

/* 按钮 */
.myAntd_btn {
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  height: 36px;
  line-height: 36px;
  border-radius: 4px;
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
/* 按钮皮肤 */
.myAntd_btn_primary {
  position: relative;
  color: #fff;
  background-color: #1890ff;
  border-color: #1890ff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}
.myAntd_btn_primary:hover,
.myAntd_btn_primary:focus {
  background-color: #40a9ff;
  border-color: #40a9ff;
}
.myAntd_btn_primary:active {
  background-color: #096dd9;
  border-color: #096dd9;
}
.myAntd_btn_primary:focus,
.myAntd_btn_primary:active {
  outline: 0;
  text-decoration: none;
}
/* 点击按钮特效 */
.myAntd_btn_click::after {
  content: "";
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #0088ff;
  transform-origin: center;
  -webkit-animation: myAntdBtnClick 0.46s ease;
  animation: myAntdBtnClick 0.46s ease;
}

@keyframes myAntdBtnClick {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    -webkit-transform: scale(1.2, 1.32);
    opacity: 0;
  }
}

/* 复选框 */
.myAntd_checkbox_wrapper:hover .myAntd_checkbox_inner,
.myAntd_checkbox:hover .myAntd_checkbox_inner,
.myAntd_checkbox_input:focus + .myAntd_checkbox_inner {
  border-color: #1890ff;
}
/* 复选框和label文字的外层容器 */
.myAntd_checkbox_wrapper {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  white-space: nowrap;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
}
/* 复选框外层 */
.myAntd_checkbox {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
/* 复选框中的input框 */
.myAntd_checkbox_input {
  z-index: 1;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  cursor: pointer;
}
/* 复选框中的样式层 */
.myAntd_checkbox_inner {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  background: #fff;
  transition: all 0.3s;
}
.myAntd_checkbox_inner::after {
  z-index: 2;
  display: table;
  content: " ";
  position: absolute;
  left: 4.99px;
  top: 1.88px;
  width: 4.6px;
  height: 7.6px;
  border: 2.5px solid #fff;
  border-top: 0;
  border-left: 0;
  color: #fff;
  -webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),
    opacity 0.1s;
  transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
  -webkit-transform: rotate(45deg) scale(0);
  transform: rotate(45deg) scale(0);
  opacity: 0;
}
/* 选中复选框 */
.myAntd_checkbox_checked .myAntd_checkbox_inner {
  border-color: #1890ff;
  background-color: #1890ff;
}
.myAntd_checkbox_checked .myAntd_checkbox_inner::after {
  display: table;
  content: " ";
  -webkit-transition: all 0.3s cubic-bezier(0.12, 0.4, 0.29, 1.46), opacity 0.1s;
  transition: all 0.3s cubic-bezier(0.12, 0.4, 0.29, 1.46), opacity 0.1s;
  -webkit-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity: 1;
}
.myAntd_checkbox_checked::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid #1890ff;
  -webkit-animation: antCheckboxEffect 0.36s ease-in-out;
  animation: antCheckboxEffect 0.36s ease-in-out;
  opacity: 0;
}
@keyframes antCheckboxEffect {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
    opacity: 0;
  }
}