div, span,
ul, li, img {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
  background: #666;
  padding: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
li {
  list-style: none;
}

.text {
  color: #e2e2e2;
  text-align: center;
}

.slider_wrapper {
  width: 1200px;
  margin: 0 auto;
  margin-top: 60px;
}
.slider_imgs {
  position: relative;
  height: 430px;
  margin: 0 auto;
}
.slider_imgs li {
  position: absolute;
}
.slider_imgs img {
  width: 100%;
}

.slider_arrow {
  z-index: 999;
  position: relative;
  top: 50%;
  opacity: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: opacity .3s ease;
}
.slider_wrapper:hover .slider_arrow {
  opacity: .5;
}
#slider-arrow-left,
#slider-arrow-right {
  z-index: 999;
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 6px;
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  background: #a9a9a9;
  color: #333;
  transform: translate(0, -50%);
  cursor: pointer;
}
#slider-arrow-right {
  right: 0;
}
