body {
	padding: 20px;
}

* {
	filter: blur(0.3px);
}

.head {
	position: relative;
	width: 210px;
	height: 180px;
}
.head .face {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 3px solid #81E1D8;
	background: #81E1D8;
	border-radius: 70% 70% 80% 80% / 70% 70% 85% 85%;
	filter: blur(0.8px);
	z-index: 10;
}

.head .ear {
	position: absolute;
	top: -5px;
	width: 50px;
	height: 55px;
	box-sizing: border-box;
	border: 10px solid #81E1D8;
	background: #3DCEBA;
	border-radius: 80% 20% 20% 80% / 50% 15% 15% 50%;
	z-index: 9;
}
.head .leftEar {
	left: -6px;
	transform: rotateZ(45deg);
}
.head .rightEar {
	right: -8px;
	transform: rotateZ(135deg);
}

.head .eye {
	position: relative;
	position: absolute;
	top: 30%;
	width: 23px;
	height: 23px;
	box-sizing: border-box;
	background: #000;
	border-radius: 50%;
	box-shadow: 0 0 2px #333;
	filter: blur(0.4px);
	z-index: 11;
}
.head .eye::before {
	content: '';
	position: absolute;
	top: 20%;
	right: 20%;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #fff;
	z-index: 12;
}
.head .leftEye {
	left: 20%;
}
.head .rightEye {
	left: 75%;
}

.head .mouthWrap {
	position: relative;
	left: calc(50% - 52px);
	top: calc(100% - 80px);
	width: 110px;
	height: 85px;
	background: #AAF0EF;
	border-radius: 80% 80% 80% 80% / 90% 90% 70% 70%;
	box-shadow: 0 0 2px #f6f6f6;
	z-index: 11;
}
.head .nose {
	position: absolute;
	top: 10px;
	left: calc(50% - 10px);
	width: 22px;
	height: 12px;
	border-radius: 40% / 60%;
	background: #111;
	filter: blur(0.5px);
	z-index: 12;
}
.head .mouth {
	position: absolute;
	bottom: 25px;
	left: calc(50% - 30px);
	width: 60px;
	height: 8px;
	border-radius: 10% / 70%;
	background: #111;
	box-shadow: 0 0 2px #333;
	filter: blur(0.5px);
	z-index: 12;
}